<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab information</title>
    <link rel="stylesheet" href="css/admin.css" text="labinfo.css" media="all">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="icon" href="/img/2104-25.jpg" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> 

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
      <section class="head">
          
          <nav class="name">
                <h1>DEVANG PATEL INSTITUTE OF ADVANCE TECHNOLOGY AND RESEARCH</h1>
              
            </nav>
          
              <div class="logout">
                <ul>
                  <li>
                  <a class="Logout-button" href="/adminlogout">Logout</a>
                  </li>
                </ul>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                     <table class="table">
                        <thead class="bg-blue">
                           <tr>
                              <th scope="col" >ID</th>
                              <th scope="col" style="column-width: 150px;">Email</th>
                              <th scope="col" style="column-width: 110px;" >Message</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <th scope="row">20DIT066</th>
                              <td>20DIT066@charusat.edu.in</td>
                              <td>Faulty Equipment</td>
                           </tr>
                           <tr>
                              <th scope="row">20DIT056</th>
                              <td>20DIT056@charusat.edu.in</td>
                              <td>XYZ Equipment is required</td>
                           </tr>
                           <tr>
                              <th scope="row">20DIT080</th>
                             <td>20DIT080@charusat.edu.in</td>
                              <td>Faulty Equipment</td>
                           </tr>
                           <tr>
                                          
                        </tbody>
                     </table>
                  </div>
               </div>
            </section>

</body>

</html> 
