<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab assistant</title>
    <link rel="stylesheet" href="css/home.css"  type="text/css" media="all" />
    <link rel="icon" href="img/2104-25.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
 <body>
   <section class="headers" id="home">
    <header>
     <nav>
      <a href="home.html"><img src="img/logo-scs-key630827.png" alt="charusat-logo"></a>
        <div class="nav-links">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li><a href="#home" >Home</a></li>
            <li><a href="#about" >About</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="#contact">Contact-Us</a></li>
          </ul>
        </div>
      </nav>
   </header> 
</section>
<section  id="home">
<div class="text-box">
      <h1>DEVANG PATEL INSTITUTE OF ADVANCE TECHNOLOGY AND RESEARCH</h1>
</div> 
    <div class="web-name">
        <a class="web-logo"><img src="img/2104-25-removebg-preview.png" alt="logo"> </a> 
        <h1>Lab-Assistant</h1>  
    </div>
</section>
    <section class="about"  id="about">
        <!-- <h1><strong>ABOUT US</strong></h1>
        <p>
        This website lab assistant is developed to help the students and the 
faculty of the institute to make their task of searching of equipments easier and
efficient. We help to remove ambiguity of the daily hassle of running to and fro for a particular equipment.We also provide the users to drop their special request for a particular equipment for their future use via a 'DropBox'.
        </p> -->
        <h1>Why lab-Assistant?</h1>
        <p>
          According our logo we provide a helping hand to both students and faculties of an institusion by easing the daily task of going to and fro asking about avalability of a certain equipment in certain laboratory. 
        </p>
        <div class="row">
            <div class="course-col">
                <h3><storng>Efficient</storng></h3>
                <p>
                  Lab assistant is more efficient than the in person approach of using and accessing the different
                  labs saving a lot of manpower.
                    </p>
                    </div>
            <div class="course-col">
                <h3><strong>Time Saving</strong> </h3>
                <p>
                  Lab assistant helps avoiding the time utilized in personally checking of the various labs of the institute
                  in turn saving a lot of time which is used to easier working of the user.
                    </p>
                    </div>
            <div class="course-col">
                <h3><strong>Easier to Use</strong></h3>
                <p>
                  lab aasistant makes it very easy for the user to guide through the labs of the institutes 
                  via its simple and dynamic approach provided through it's website.
                    </p>
            </div>
        </div>
        <div class="onwer"> 
<div class="img">
  <img src="img/sid.png" alt="John" style="width:100px">
<div class="card">
  <h1>Siddhi <br> Patel</h1>
  <p class="title">Information Technlogy Charusat University</p>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" ></i></a>
  </div> 
</div>
<div class="img">
  <img src="img/hetu.png" alt="John" style="width:100px">
<div class="card">
  <h1>Hetansi <br> Patel</h1>
  <p class="title">Information Technology Charusat University</p>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
  </div> 
</div>
<div class="img">
  <img src="img/dru.png" alt="John" style="width:100px">
<div class="card">
  <h1>Dhruv <br> Shah</h1>
  <p class="title">Information Technology
  Charusat University</p>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" ></i></a>
  </div> 
</div>
      </div>
    </section>
    <section class="footer" id="contact">
      <footer>
        <div class="footer-top pb-3">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
              <h2>Follow Us</h2>
                <div class="social-btns">
                  <p>
                    You can follow our social media accounts for more informations.
                  </p>
                <div class="btns">
                    <ul>
                      <button class="bttn"><a href="https://www.facebook.com/depstar/" target="_blank"></a><i class="fa fa-facebook"></a></i></button>
                      <button class="bttn"><a href="https://www.instagram.com/ieee_depstar/?hl=en" target="_blank"></a><i class="fa fa-instagram" ></a></i></button>
                      <button class="bttn"><a href="https://twitter.com/depstar2" target="_blank"></a><i class="fa fa-twitter"></a></i></button>
                    </ul>
                    </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-four md-mb-30 sm-mb-30">
                  <h2>Location</h2>
                  <p class="i_p pt-4 text-justify"> 
                    A5 Building, Devang Patel Institute of Advance Technology and Research (DEPSTAR), Charotar University of Science and Technology (CHARUSAT), Changa
                    <br><br>
                    </p><div class="embed-responsive embed-responsive-16by9 pt-1">   
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d58933.83359089244!2d72.79484611621106!3d22.60285620664827!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7571b60b6c28001b!2sDevang%20Patel%20Institute%20of%20Advance%20Technology%20and%20Research!5e0!3m2!1sen!2sin!4v1606740003529!5m2!1sen!2sin" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe><p></p>
                  </div>          
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-two md-mb-30 sm-mb-30">
                  <h2>Contact US</h2>
                  <div>
                                    <div>
                        <p class="i_p pt-4 "><a href="tel:+919033631127"><i class="fa fa-phone"></i></a> &nbsp;&nbsp; +91 9033631127                  </p>
                      </div>
                                    <div>
                        <p class="i_p pt-4 "><a href="tel:+918460399116"><i class="fa fa-phone"></i></a> &nbsp;&nbsp; +91 8460399116                  </p>
                      </div>
                                    <div>
                        <p class="i_p pt-4 "><a href="tel:+917984393319"><i class="fa fa-phone"></i></a> &nbsp;&nbsp; +91 7984393319                  </p>
                      </div>
                                </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </section>
</body>
</html>
