<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab information</title>
    <link rel="stylesheet" href="css/labinfo.css"  type="text/css" media="all" />
   
    <link rel="icon" href="/img/2104-25.jpg" type="image/x-icon">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
      <section class="head" id="heads">
          
          <nav class="name">
                <h1>DEVANG PATEL INSTITUTE OF ADVANCE TECHNOLOGY AND RESEARCH</h1>
              </div>
            </nav>
          <div class="menu-bar">
          <ul>
            <li class="active"><a href="#">Lab-Details</a>
              <div class="sub-menu">
                <ul>
                      <li><a href="/IOT" target="_blank">Internet Of Things Lab</a></li>
                      <li><a href="/VR" target="_blank">Virtual Reality Lab</a></li>
                      <li><a href="/Sophos" target="_blank">SOPHOS Security Lab</a></li>
                      <li><a href="/MOBILEAPP" target="_blank">Mobile-App Development Lab</a></li>
                      <li><a href="/GPU" target="_blank">NVIDIA GPU</a></li>
                      <li><a href="/Imageprocessing" target="_blank">Image Processing Lab</a></li>
                      <li><a href="/Networkinglab" target="_blank">Net-Working Lab</a></li>
                      <li><a href="/Webtechnology" target="_blank">Web-Technology Lab</a></li>
                </ul>
            </li>
          <li><a href="#dropbox">Drop-Box</a></li>
          </ul>
          <div class="logout">
            <ul>
              <li>
              <a class="Logout-button" href="/logout">Logout</a>
              </li>
            </ul>
            </div>
          </div>
       
      <section>
      <div>
        <table class="table" border="5px">
          <thead class="thead-light">
            <tr>
              
              <th scope="col">Sr.No</th>
              <th scope="col">Day</th>
              <th scope="col" style="column-width: 150px;">Time</th>
              <th scope="col">123</th>
              <th scope="col">124</th>
              <th scope="col">222</th>
              <th scope="col">223</th>
              <th scope="col">224</th>
              <th scope="col">229</th>
              <th scope="col">323</th>
              <th scope="col">324</th>
              <th scope="col">325</th>
                    
            </tr>
          </thead>
          <tbody>
            <tr>
              
              <td>1</td>
              <td>Monday</td>
              <td>09.10 - 10.10</td>
              <td></td>
              <td></td>
              <td></td>
              <td rowspan="2" style="text-align: center; padding-top: 28px;">1CE-VM(HSS)</td>
              <td></td>
              <td></td>
              <td></td>
              <td rowspan="2" style="text-align: center; padding-top: 28px;">1CSE1-KT(HSS)</td>
              <td>1CSE2-HSJ(CCP)</td>
              
    
            </tr>
            <tr>
              
             
              <td>2</td>
              <td></td>
              <td>10.10 - 11.10</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1CSE2-Assignment Practice</td>
             
      
             
            </tr>
            <tr>
              
             
              <td>Break</td>
              <td></td>
              <td>11.10 - 12.10</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              
           
            </tr>
            <tr>
              
             
              <td>3</td>
              <td></td>
              <td>12.10 - 01.10</td>
              <td></td>
              <td>1IT2 RP1(CCP)</td>
              <td>1CE1-RPS(Maths-1)</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1CE1-ASP(BEEE)</td>
              <td>1CSE2-MBP(Maths-1)</td>
             
            </tr>
            <tr>
              >
              
              <td>4</td>
              <td></td>
              <td>01.10 - 02.10</td>
              <td></td>
              <td>IIT2 MBP(Maths-1)</td>
              <td>1CE1-DD(BEEE)</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1CSE1-RRS(Maths-1)</td>
              <td>1CSE2-SS(BEEE)</td>
              
              
            </tr>
            <tr>
              
              
              <td>Break</td>
              <td></td>
              <td>02.10 - 02.20</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              
             
            </tr>
            <tr>
              
              
              <td>5</td>
              <td></td>
              <td>02.20 - 03.20</td>
              <td>1IT1 RRS(Maths-1)</td>
              <td></td>
              <td>1CE2-L2(Maths-1)</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td rowspan="2" style="text-align: center; padding-top: 20px;">1CSE1: C-Student <br> Counselling</td>
              <td></td>
             
             
            </tr>
            <tr>
              
              
              <td>6</td>
              <td></td>
              <td>03.20 - 04.20</td>
              <td></td>
              <td></td>
              <td>1CE2-Student Counselling</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
             
             
             
            </tr>
            <tr>
              
              
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              
              
            </tr>
            <!-- tuesday -->
            <tr>
              
              <td>1</td>
              <td>Tuesday</td>
              <td>09.10 - 10.10</td>
              <td>1IT1 RRS (Maths-1)</td>
              <td>1IT2-NK(CCP)</td>
              <td>1CE-DD(BEEE)</td>
              <td></td>
              <td></td>
              <td></td>
              <td>1CSE1-KDP(CCP)</td>
              <td></td>
              <td></td>
             
             
            </tr>
            <tr>
              
             
              <td>2</td>
              <td></td>
              <td>10.10 - 11.10</td>
              <td>1IT1 MP (CCP)</td>
              <td>1IT2 - Assignment Practice</td>
              <td>1CE1 - Assignment Practice</td>
              <td></td>
              <td></td>
              <td></td>
              <td>1CSE1-RRS(Maths-1)</td>
              <td></td>
              <td></td>
              
              
            </tr>
            <tr>
              
             
              <td>Break</td>
              <td></td>
              <td>11.10 - 12.10</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
             
            </tr>
            <tr>
              
             
              <td>3</td>
              <td></td>
              <td>12.10 - 01.10</td>
              <td>1IT1 - Assignment Practice</td>
              <td>IT2-BRP & VF (Maths-1)</td>
              <td>1CE1-RRS(Maths-1)</td>
              <td>1CE2-KAP(CCP)</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              
              
            </tr>
            <tr>
              >
              
              <td>4</td>
              <td></td>
              <td>01.10 - 02.10</td>
              <td>1IT1 DD(BEEE)</td>
              <td>1IT2-Assignment Practice</td>
              <td>1CE-KAP(CCP)</td>
              <td>1CE2-RRS(Maths-1)</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
             
             
            </tr>
            <tr>
              
              
              <td>Break</td>
              <td></td>
              <td>02.10 - 02.20</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              
              
            </tr>
            <tr>
              
              
              <td>5</td>
              <td></td>
              <td>02.20 - 03.20</td>
              <td></td>
              <td>1IT2-Student Counselling</td>
              <td></td>
              <td>1CE2-Student Counselling</td>
              <td></td>
              <td></td>
              <td>1CSE1-Assignment Practice</td>
              <td>1CSE2-RRS(Maths-1)</td>
              <td></td>
              
              
            </tr>
            <tr>
              
              
              <td>6</td>
              <td></td>
              <td>03.20 - 04.20</td>
              <td></td>
              <td></td>
              <td></td>
              <td>1CE2-Student Counselling</td>
              <td></td>
              <td></td>
              <td>1CSE1-Student Counselling</td>
              <td>1CSE2-Student Counselling</td>
              <td></td>
             
              
            </tr>
            <tr>
              
              
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              
              
            </tr>
            <!-- Wed -->
            <tr>
              
              <td>1</td>
              <td>Wednesday</td>
              <td>09.10 - 10.10</td>
              <td></td>
              <td rowspan="2" style="text-align: center; padding-top: 45px;">1IT2-RP(HSS)</td>
              <td></td>
              <td>1CE2-JSS(BEEE)</td>
              <td>1CE2-RRS(Maths-1)</td>
              <td></td>
              <td></td>
              <td rowspan="2" style="text-align: center; padding-top: 45px;">1CSE2 KT(HSS)</td>
              <td></td>
          
              
            </tr>
            <tr>
              
             
              <td>2</td>
              <td></td>
              <td>10.10 - 11.10</td>
              <td></td>
              <td></td>
              <td></td>
              <td>1CE2-RRS(Maths-1)</td>
              <td></td>
              <td></td>
              <td></td>
              
              
              
            </tr>
            <tr>
              
             
              <td>Break</td>
              <td></td>
              <td>11.10 - 12.10</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
             
             
            </tr>
            <tr>
              
             
              <td>3</td>
              <td></td>
              <td>12.10 - 01.10</td>
              <td rowspan="2" style="text-align: center; padding-top: 25px;">1IT2-RP(HSS)</td>
              <td>1IT2-MBB(Maths-1)</td>
              <td></td>
              <td>1CE2-KAP(CCP)</td>
              <td></td>
              <td></td>
              <td>1CSE1-RRS(Maths-1)</td>
              <td>1CSE2-SS(BEEE)</td>
              <td>1CSE1-BRP(Maths-1)</td>
              
              
            </tr>
            <tr>
              >
              
              <td>4</td>
              <td></td>
              <td>01.10 - 02.10</td>
              <td></td>
              <td>1IT2 MSM (BEEE)</td>
              <td></td>
              <td>1CE2-Assignment Practice</td>
              <td></td>
              <td></td>
              <td>1CSE2-RRS(Maths-1)</td>
              <td></td>
              
             
             
            </tr>
            <tr>
              
              
              <td>Break</td>
              <td></td>
              <td>02.10 - 02.20</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              
              
            </tr>
            <tr>
              
              
              <td>5</td>
              <td></td>
              <td>02.20 - 03.20</td>
              <td>1IT1-DD(BEEE)</td>
              <td></td>
              <td>1CE1-RRS(Maths-1)</td>
              <td></td>
              <td>1CE1-JRP(Maths-1)</td>
              <td></td>
              <td></td>
              <td></td>
              <td>1CSE2-Assignment Practice</td>
              
             
            </tr>
            <tr>
              
              
              <td>6</td>
              <td></td>
              <td>03.20 - 04.20</td>
              <td>1IT1-BRP(Maths-1)</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1CSE2-KDP(CCP)</td>
              <td></td>
             
             
            </tr>
            <tr>
              
              
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              
             
            </tr>
            <tr>
              <!-- thursday -->
              <td>1</td>
              <td>Thursday</td>
              <td>09.10 - 10.10</td>
              <td></td>
              <td></td>
              <td></td>
              <td rowspan="2" style="text-align: center; padding-top: 25px;">1CE2-PJ(HSS)</td>
              <td></td>
              <td></td>
              <td>1CSE1-HSJ(CCP)</td>
              <td></td>
              <td></td>
              
             
            </tr>
            <tr>
              
             
              <td>2</td>
              <td></td>
              <td>10.10 - 11.10</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1CSE1-AHP(BEEE)</td>
              <td></td>
              <td></td>
             
              
            </tr>
            <tr>
              
             
              <td>Break</td>
              <td></td>
              <td>11.10 - 12.10</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
             
           
            </tr>
            <tr>
              
             
              <td>3</td>
              <td></td>
              <td>12.10 - 01.10</td>
              <td>1IT1-HSJ(CCP)</td>
              <td>1IT2-MSM(BEEE)</td>
              <td>1CE1-DD(BEEE)</td>
              <td></td>
              <td></td>
              <td></td>
              <td>1CSE1-BRP(Maths-1)</td>
              <td></td>
              <td></td>
             
             
            </tr>
            <tr>
              
              
              <td>4</td>
              <td></td>
              <td>01.10 - 02.10</td>
              <td>1IT1-MBP(Maths-1)</td>
              <td>1IT2-RRS(Maths-1)</td>
              <td>1CE1-BRP(Maths-1)</td>
              <td></td>
              <td></td>
              <td>1IT1 A1:PKM(FS)</td>
              <td>1CSE1-Assignment Practice</td>
              <td></td>
              <td></td>
              
            
            </tr>
            <tr>
              
              
              <td>Break</td>
              <td></td>
              <td>02.10 - 02.20</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              
              
            </tr>
            <tr>
              
              
              <td>5</td>
              <td></td>
              <td>02.20 - 03.20</td>
              <td>1IT1-Assignment Practice</td>
              <td></td>
              <td>1CSE1-Assignment Practice</td>
              <td>1CE2-JSS(BEEE)</td>
              <td></td>
              <td></td>
              <td></td>
              <td>1CSE2-MBP(Maths-1)</td>
              <td></td>
             
              
            </tr>
            <tr>
              
              
              <td>6</td>
              <td></td>
              <td>03.20 - 04.20</td>
              <td>1IT2-Student Counselling</td>
              <td></td>
              <td>1CE-KAP(CCP)</td>
              <td>1CE2-MBP(Maths-1)</td>
              <td></td>
              <td></td>
              <td></td>
              <td>1CSE2-HSJ(CPP)</td>
              <td></td>
            
             
            </tr>
            <tr>
              
              
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
             
              
            </tr>
<!-- friday -->
<tr>
              
  <td>1</td>
  <td>Friday</td>
  <td>09.10 - 10.10</td>
  <td>1IT1-HSJ(CCP)</td>
  <td></td>
  <td></td>
  <td>1CE2-JSS(BEEE)</td>
  <td></td>
  <td></td>
  <td></td>
  <td colspan="2">1CE2-RSS & BRP(Maths-1)</td>
</tr>
<tr>
  
 
  <td>2</td>
  <td></td>
  <td>10.10 - 11.10</td>
  <td>1IT1-DD(BEEE)</td>
  <td></td>
  <td></td>
  <td>1CE2-RRS(Maths-1)</td>
  <td>1CE2-MBP(Maths-1)</td>
  <td></td>
  <td></td>
  <td>1CSE2-SS(BEEE)</td>
  <td></td>
 
  
</tr>
<tr>
  
 
  <td>Break</td>
  <td></td>
  <td>11.10 - 12.10</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  
  
</tr>
<tr>
  
 
  <td>3</td>
  <td></td>
  <td>12.10 - 01.10</td>
  <td>1IT1-Assignment Practice</td>
  <td>1IT2-Assignment Practice</td>
  <td>1CSE1-Assignment Practice</td>
  <td></td>
  <td></td>
  <td></td>
  <td>1CSE1-AHP(BEEE)</td>
  <td></td>
  <td></td>
 
  
</tr>
<tr>
  >
  
  <td>4</td>
  <td></td>
  <td>01.10 - 02.10</td>
  <td>1IT1-BRP(Maths-1)</td>
  <td>1IT2-RRS(Maths-1)</td>
  <td>1CSE1-Student Counselling</td>
  <td></td>
  <td></td>
  <td></td>
  <td>1CSE1-BRP(Maths-1)</td>
  <td></td>
  <td></td>
  
 
</tr>
<tr>
  
  
  <td>Break</td>
  <td></td>
  <td>02.10 - 02.20</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
 
 
</tr>
<tr>
  
  
  <td>5</td>
  <td></td>
  <td>02.20 - 03.20</td>
  <td></td>
  <td>IT2-MSM(BEEE)</td>
  <td>1CE1-BRP(Maths-1)</td>
  <td></td>
  <td></td>
  <td></td>
  <td>1CSE1:A&B-Assignment Practice <br> 1CSE1:C-AHP(BEEE)</td>
  <td>1CSE2:1CE2-Assignment Practice</td>
  <td></td>
 
 
</tr>
<tr>
  
  
  <td>6</td>
  <td></td>
  <td>03.20 - 04.20</td>
  <td></td>
  <td>1IT2-NK(CCP)</td>
  <td>1CE1-KAP(CCP)</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td>1CSE2-Assignment Practice</td>
  <td></td>
 
  
</tr>
<tr>
  
  
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  
 
</tr>

<!-- saturday -->
<tr>
              
  <td>1</td>
  <td>Saturday</td>
  <td>09.10 - 10.10</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td rowspan="2" style="text-align: center; padding-top: 20px;">1IT1 & 1IT2 1CSE2:Seminar/ <br> Workshop/Expert Talk</td>
  <td></td>
  <td></td>
  <td></td>
  

</tr>
<tr>
  
 
  <td>2</td>
  <td></td>
  <td>10.10 - 11.10</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  
  
 
</tr>
<tr>
  
 
  <td>Break</td>
  <td></td>
  <td>11.10 - 12.10</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  
</tr>
<tr>
  
 
  <td>3</td>
  <td></td>
  <td>12.10 - 01.10</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td rowspan="2" style="text-align: center; padding-top: 20px;">1IT1 & 1IT2 1CSE2:Seminar/ <br> Workshop/Expert Talk</td>
  <td></td>
  <td></td>
  <td></td>
 
  
</tr>
<tr>
  
  
  <td>4</td>
  <td></td>
  <td>01.10 - 02.10</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  
  
 
</tr>
<tr>
  
  
  <td>Break</td>
  <td></td>
  <td>02.10 - 02.20</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
 
 
</tr>
<tr>
  
  
  <td>5</td>
  <td></td>
  <td>02.20 - 03.20</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td rowspan="2" style="text-align: center; padding-top: 20px;">1IT1 & 1IT2 1CSE2:Seminar/ <br> Workshop/Expert Talk</td>
  <td></td>
  <td></td>
  <td></td>
  
 
</tr>
<tr>
  
  
  <td>6</td>
  <td></td>
  <td>03.20 - 04.20</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  
 
 
</tr>

          </tbody>
        </table>
      </div>
      </section>
    <section class="second" id="dropbox">
     
      <div class="container">
       <div class="row">

           <div class="col-lg-4">
               <form action='/create' method="POST" id="algin-form" class="form">
                   <div class="form-group">
                       <h4>Drop a comment</h4> <label for="message">Message</label> <textarea name="message" id="" msg cols="30" rows="5" class="form-control" style="background-color: white;"></textarea>
                   </div>
                   <div class="form-group"> <label for="name">ID Number</label> <input type="text" name="id" id="fullname" class="form-control"> </div>
                   <div class="form-group"> <label for="email">Email</label> <input type="text" name="email" id="email" class="form-control"> </div>
     
                   <div class="form-group"> <button type="submit" id="post" class="btn">Post Comment</button> </div>
                   <div class="form-group"> <button type="button" id="post" class="btn"><a href="#heads" style="color: white;">Go To Top</a></button> </div>
               </form>
           </div>
       </div>
   </div>

       </section>
</body>
</html> 
