<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="css/login.css" text="login.css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="img/2104-25.jpg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@600&display=swap" rel="stylesheet">
</head>
<body>
  <section class="head">
  <nav>
    <a href="login.html"><img src="img/1590858027204.jfif" alt="DEPSTAR LOGO"></a>
    <div class="name">
      <h1>DEVANG PATEL INSTITUTE OF ADVANCE TECHNOLOGY AND RESEARCH</h1>
    </div>
    <a class="btns" href="/homebtn"><i class="fa fa-home"></i></a>
  </nav>
  <div class="animation-area">
    <ul class="box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div class="login-box">
        <h1>Login for Students/Faculty</h1>
  
        <div class="login-form">
          
          <form action="auth" method="POST">
            <div class="textbox">
            <input type="text" name="username" placeholder="Username" required>
            <i class="fa fa-user icon"></i>
            </div>
            <div class="textbox1">
            <input type="password" name="password" placeholder="Password" required>
            <i class="fa fa-lock icon"></i>
            </div>
<!--       
            <input type="submit"> -->
            <button class="btn">Sign in</button>
           
          </form>
        </div>
    </div>
    </section>
</body>
</html>
