<html lang="en"><head>
    <meta charset="utf-8">
    <title>DEPSTAR-IOS LAB</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="engineering colleges,engineering college ranking,engineering college ranking in india,engineering college admission 2020 gujarat,engineering college admission,engineering college ahmedabad,engineering college admission in gujarat,engineering college anand,engineering college anand gujarat,engineering college application form 2020,a+engineering colleges in india,engineering college bangalore,engineering college brochure,b tech engineering college,engineering college changa,engineering college cut off 2019,engineering college counselling,engineering college cut off,engineering college counselling date 2020,engineering college exam news,engineering college exams,engineering college fees,engineering college fees in gujarat,engineering college faculty recruitment,engineering college fees in india,engineering college fees structure,engineering college faculty recruitment 2020,engineering college forms,engineering college faculty recruitment 2019,college of engineering,computer engineering subjects,computer engineering salary,computer engineering course,computer engineering jobs,computer engineering salary in india,computer engineering and computer science,computer engineering admission,computer engineering and computer science difference,computer engineering and information technology difference,computer engineering after 12th science,computer engineering average salary in india,a+computer engineering,a computer engineering student,a computer engineering school,the computer engineering books,the computer engineering importance,is a computer engineering degree worth it,is a computer engineering hard,a computer science engineering,computer engineering books,computer engineering best colleges in gujarat,computer engineering branch,computer engineering best colleges in india,computer engineering basics,computer engineering be syllabus,computer engineering colleges,computer engineering course details,computer engineering day,computer engineering degree,ph.d in computer engineering,computer engineering exam,computer engineering education,computer engineering electives,b.e computer engineering,b.e computer engineering syllabus,b.e computer engineering subjects,b.e computer engineering salary,computer engineering fees,computer engineering fields,computer engineering first year subjects,computer engineering first year syllabus,computer engineering full details,computer engineering future scope,computer engineering how many years,computer engineering highest salary,computer science&amp;engineering syllabus pdf,computer science&amp;engineering syllabus,computer science&amp;engineering b.tech syllabus,computer science&amp;engineering(cse),computer science&amp;engineering/it,computer science&amp;engineering department,computer science&amp;engineering jobs in india for freshers,computer science&amp;engineering(cyber security),computer science engineering after 10th,computer science engineering after 12th,computer science engineering anna university syllabus,computer science engineering all subjects,computer science engineering admission 2020,a computer science engineering,computer and science engineering salary,computer and science engineering syllabus,electronics and computer science engineering,electrical and computer science engineering,electronics and computer science engineering in kiit,the computer science and engineering handbook,computer science engineering books for 1st year pdf,computer science engineering books for 1st year,computer science engineering books,computer science engineering books pdf,computer science engineering books list,computer science engineering branches,computer science engineering best colleges in india,b tech computer science engineering syllabus,b.tech.computer science engineering with specialization in big data analytics,b tech computer science engineering salary in india,b.e computer science engineering,b.e computer science engineering syllabus,b e computer science engineering colleges in tamilnadu,b.e computer science engineering salary,b.tech computer science engineering scope,computer science engineering courses,computer science engineering colleges in india,computer science engineering course details,computer science engineering degree,computer science engineering diploma syllabus,computer science engineering definition,computer science engineering duration,ph.d in computer science and engineering,computer science engineering eligibility,computer science engineering exam time table 2019,computer science electronic engineering,computer science engineering fees,computer science engineering first year syllabus,computer science engineering final year projects,computer science engineering fields,computer science engineering interview questions,information technology engineering salary,information technology engineering college,information technology engineering colleges in gujarat,information technology engineering syllabus,information technology engineering course details,information technology engineering subjects list,information technology engineering salary in india,information technology engineering jobs,information technology engineering subjects,information technology engineering after 10th,information technology engineering aviation,information technology and engineering,information technology and engineering systems,information technology and engineering services,information technology architectural engineering,is information technology an engineering degree,information technology engineering books free download pdf,information technology engineering branch,information technology engineering books pdf,information technology engineering building uconn,information technology based engineering,best information technology engineering colleges in india,information technology engineering courses,information technology engineering colleges in kerala,information technology engineering degree,information technology engineering definition,information technology engineering demand,information technology and computer engineering difference,information technology and software engineering differences,information technology engineering examples,information technology engineering eligibility,syllabus for information technology engineering,information technology engineering government jobs in india,information technology engineering gmbh,information engineering technology guardian,information technology genetic engineering,is information technology engineering good,information technology engineering kya hai,information technology engineering in india,information technology engineering information,information technology engineering logo,depstar logo,depstar vs cspit,depstar cse syllabus,depstar it,depstar charusat,depstar placement,depstar faculty,depstar cse faculty,depstar syllabus,devang patel institute of advance technology and research changa,devang patel institute of advanced technology and research placements,devang patel institute of advance technology and research petlad,devang patel institute of advance technology and research anand Gujarat,research engineering jobs,research engineering performance,research engineering development,research engineering topics,research about engineering,engineering research and development,engineering research associates,research about engineering students,the research engineering,research and engineering development,research and engineering center,research and engineering building,research and engineering projects,science and research engineering board,research engineering best,research&amp;engineering center,advance research institute ahmedabad,advanced research,advanced research and development,advanced research centre,advanced research lab,advanced research lecture,advanced research laboratories">
  
    <meta content="Devang Patel Institute of Advance Technology and Research (DEPSTAR) is a constituent of CHARUSAT. The institute is managed through a think tank of technocrats, administrators, scientists and engineers, educationalists, businessmen, stakeholders and other well-wishers from all parts of the world. DEPSTAR is patronized by IPCO Industries, headed by Philanthropist and Industrialist Shri Devang Patel. The institute envisions being a forerunner in teaching and research in advanced technologies. For this, in years to come, it will be an institute with advanced infrastructure, distinguished faculty, networking with global institutes and implementing most modern processes. DEPSTAR has total intake of 300 Seats with Computer Engineering (120 seats), Computer Science &amp; Engineering (120 seats) and Information Technology (60 seats). The average experience of faculties is more than 6 years in Teaching, Industry and Research Domain." name="description">
  
    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  
    <!-- Main Stylesheet File -->
    <link href="css/MOBILEAPP.css" rel="stylesheet" text="MOBILEAPP.css" media="all">
    <link rel="icon" href="img/2104-25.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Google Fonts-->
<!-- #header -->
<style>
     .bg-blue {
     background-color: #0c3e8ae6;
     color: #fff;
     font-weight: 600;
     text-align: center;
     }
     .bg-blue tr th {
     text-align: center;
     }
     .table, thead, tr, th, td {
     border:2px solid #ccc; 
     text-align: center;   
     }
  </style>
<section class="headers">
    <nav>
        <a><img src="img/1590858027204.jfif" alt="DEPSTAR LOGO"></a>

        <div class="name">
          <h1>DEVANG PATEL INSTITUTE OF ADVANCE TECHNOLOGY AND RESEARCH</h1>
        </div>
      </nav>
      <div id="banner">
        <div id="cloud-scroll"></div>
      </div>
      <div class="name-lab">
        <h2></h2>
        <h2 style="padding-top: 20px">MOBILE-APP DEVELOPMENT/IOS LAB </h2>
        <br>
         </div>
</section>
  <section id="services" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    <div class="container">
        <div class="section-header">
           
           <p style="margin-bottom: 10px;">Mobile application development platforms have become a significant medium for software content delivery and distribution. With the mainstream adoption of tablet devices and smart phones this potential is expected to grow at an exponential growth both globally and locally. Mobile technology, in the form of phones, tablets, and notebooks, is making our lives better than ever before. Android is used by major population and this is the reason todays engineers must know and learn this technology. Lab was established in 2017.</p>
           <p style="margin-bottom: 10px;">We know that there is a dearth of iOS developers in Gujarat state, rather in India as compared to other developed countries. There is negligible exposure to the students in this domain. This is the main motivation for keeping iOS application development Lab.</p>
           <p style="margin-bottom: 10px;">The goal of creating an Apple lab is to add one more programming language into the students’ dictionary. All systems are highly configured with each system having 8GB RAM. The screens are wide and embedded with all the required sensors. Mouse and Keyboard are wireless. The students and faculties can explore the xCode IDE and do research of their interest in the high-end systems in the lab.</p>
        </div>
        <div class="row">
           <div class="col-lg-12 col-md-12">
              <table class="table">
                 <thead class="bg-blue">
                    <tr>
                       <th scope="col">Sr. No.</th>
                       <th scope="col">Project Title</th>
                       <th scope="col">Remark</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr>
                       <th scope="row">1</th>
                       <td>Cognizance-2019  Application</td>
                       <td>Completed</td>
                    </tr>
                    <tr>
                       <th scope="row">2</th>
                       <td>Expense Tracker</td>
                       <td>Ongoing</td>
                    </tr>
                    <tr>
                       <th scope="row">3</th>
                      <td>Recipes App</td>
                       <td>Ongoing</td>
                    </tr>
                    <tr>
                       <th scope="row">4</th>
                      <td>Bike Servicing App</td>
                       <td>Ongoing</td>
                    </tr>
                     <tr>
                       <th scope="row">5</th>
                      <td>Criminal Alert App</td>
                       <td>Ongoing</td>
                    </tr>  
                    <tr>
                       <th scope="row">6</th>
                      <td>Fitness App</td>
                       <td>Ongoing</td>
                    </tr>                 
                 </tbody>
              </table>
           </div>
        </div>
        <div class="section-header" style="text-align: justify;">
           <h2></h2>
           <h2 style="padding-top: 20px ; color:  #015293;">Workshops &amp; Student Development Program</h2>
           <br>
           <div class="col-lg-12 col-md-12">
             <ol>
              <li>Two Days Gujcost Sponsored workshop on “Mobile Application Development using Cross Platform Application Development Frameworks” , March 2019.</li>
              <li>One Day Workshop on “iOS Application Development, Feb 2019.</li>
              <li>Six days Gujcost sponsored workshop on “Gradling and Xcoding: Native and Cross Platform Mobile Application Development”, July 2018.</li>
              <li>Two Days workshop on “Mobile Application Development, Feb 2018. </li>
              <li>6th Semester Engineering students are learning to build iOS Application Development as a part of their curriculum.</li>
              <li>Interested Students are learning and developing iOS app as a part of their Software Group Projects.</li>
             </ol>
           </div>
           
     </div>
  </div>
  </section>
</body>
</html>
    